<div id="pagebottom" class="row">
    <div id="pagemetadata" class="large-6 {% if page.layout=="landing" %}large-offset-4{% else %}large-offset-2{% endif %} columns">{% if page.date_updated %}Last updated: {{ page.date_updated | date: "%B %-d, %Y" }}<br>{% endif %}<a class="githuburl" href="{{ site.repositoryurl }}/blob/master/{{ page.path }}" target="_blank" title="Want to contribute to this page?">{{ site.repositoryurl }}/blob/master/{{ page.path }}</a>
    </div>
    <div id="up-to-top" class="large-2 columns" style="text-align: right;">
      <a class="iconfont" href="#top-of-page">&#xf108;</a>
    </div><!-- /.small-8 small-offset-2.columns -->
</div><!-- /.row -->
<footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
            <div id="dhlogobox" class="large-2 small-4 columns">
              <img src="{{ '/assets/img/LogoPrint_trans.png' |relative_url }}" id="dhlg-logo">
              <img src="{{ '/assets/img/SU_Seal_Black_darkbgrd_footer.png' |relative_url }}" id="dhlg-logo">
              <img src="{{ '/assets/img/dlcl-logo-new.png' |relative_url }}" id="dhlg-logo">
              <img src="{{ '/assets/img/neh_transparent.png' |relative_url }}" id="dhlg-logo">

            </div><!-- /.large-6.columns -->

          <div class="large-3 small-8 columns">
            <h5>Global Medieval Sourcebook</h5>
<p>{{ site.concept}}</p>          </div>

          <div class="large-3 small-8 columns">
            <h5>Permissions and License</h5>
<p>{{ site.permissions }}</p>
<p>{{ site.license}}</p>
          </div>

          <div class="large-3 small-8 columns">
<h5>Links</h5>
<ul class="no-bullet">
{% for link in site.data.footerlinks %}
  {% if link.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
    <li>
      <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %} title="{{ link.title }}">{{ link.name }}</a>
    </li>
{% endfor %}
</ul>
          </div>
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <div class="row">
          <div id="subfooter-left" class="medium-9 columns">
            
          </div>

          <div id="subfooter-right" class="medium-3 columns">
          </div>
        </div>
      </div><!-- /#subfooter -->
    </footer>
