<aside id="sidenav">
	<div class="panel">
		<p class="morse"></p>
		<h3 id="tocheader">Text Info</h3>
		<ul id="toc">
			
			{% if page.authors And page.authors != "" And page.authors != nil %}
			{% assign textauthors = page.authors %}
			<li><strong>Author:</strong> 
			  {% for author in textauthors %}
	    	  {% for author in site.authors %}
			  {% if textauthors contains author.title %}<a href="{{site.baseurl}}{{author.url}}">{{author.title}}</a>
			  {% endif %}
			  {% endfor %}
			  {% unless forloop.last %}&nbsp;{% endunless %}
			  {% endfor %}</li>
			  {% endif %}
			 
			 {% if page.languages != '' %} 
			{% assign textlanguages = page.languages %}
			<li><strong>Languages:</strong> 
			  {% for textlanguage in textlanguages %}
	    	  {% for language in site.languages %}
			  {% if textlanguage contains language.title %}<a href="{{site.baseurl}}{{language.url}}">{{language.title}}</a>
			  {% endif %}
			  {% endfor %}
			  {% unless forloop.last %}&nbsp;{% endunless %}
			  {% endfor %}</li>
			  {% endif %}
		
		
		{% assign textperiods = page.periods %}
		<li><strong>Period:</strong> 
		  {% for textperiod in textperiods %}
    	  {% for period in site.periods %}
		  {% if textperiod contains period.title %}<a href="{{site.baseurl}}{{period.url}}">{{period.title}}</a>
		  {% endif %}
		  {% endfor %}
		  {% unless forloop.last %}&nbsp;{% endunless %}
		  {% endfor %}</li>
		  
		{% assign textgenres = page.genres %}
		<li><strong>Genres:</strong> 
		  {% for genre in textgenres %}
    	  {% for genre in site.genres %}
		  {% if textgenres contains genre.title %}<a href="{{site.baseurl}}{{genre.url}}">{{genre.title}}</a>
		  {% endif %}
		  {% endfor %}
		  {% unless forloop.last %}&nbsp;{% endunless %}
		  {% endfor %}</li>
		
		{% if page.textcollections And page.textcollections != "" And page.textcollections != nil %}
		{% assign listtextcollections = page.textcollections %}
		<li><strong>Collection:</strong> 
		  {% for listtextcollection in listtextcollections %}
    	  {% for textcollection in site.textcollections %}
		  {% if listtextcollection contains textcollection.identifier %}<a href="{{site.baseurl}}{{textcollection.permalink}}">{{textcollection.title}}</a>
		  {% endif %}
		  {% endfor %}
		  {% unless forloop.last %}&nbsp;{% endunless %}
		  {% endfor %}</li>
{% endif %}
		</ul>
	</div>
</aside>