<aside id="sidenav">
	<div class="panel">
		<p class="morse"></p>
		<h3 id="tocheader">Text Info</h3>
		<ul id="toc">
			
			{% if page.textauthor And page.textauthor != "" And page.textauthor != nil %}
			<li><strong>Author:</strong> {{page.textauthor}}</li>
			{% endif %}
			 
			{% if page.languages != '' %}
			{% assign textlanguages = page.languages %}
			<li><strong>Languages: </strong>
			  {% for textlanguage in textlanguages %}
	    	  {% for region in site.regions %}
			  {% if textlanguage contains region.identifier %}<a href="{{site.baseurl}}{{region.url}}">{{region.title}}</a>
			  {% endif %}
			  {% endfor %}
			  {% unless forloop.last %}&nbsp;{% endunless %}
			  {% endfor %}</li>
			  {% endif %}
		
		
		{% assign textperiods = page.periods %}
		<li><strong>Period:</strong> 
		  {% for textperiod in textperiods %}
    	  {% for period in site.periods %}
		  {% if textperiod contains period.tag %}<a href="{{site.baseurl}}{{period.url}}">{{period.title}}</a>
		  {% endif %}
		  {% endfor %}
		  {% unless forloop.last %}&nbsp;{% endunless %}
		  {% endfor %}</li>
		
		{% if page.textcollections And page.textcollections != "" And page.textcollections != nil %}
		{% assign listtextcollections = page.textcollections %}
		<li><strong>Collection:</strong> 
		  {% for listtextcollection in listtextcollections %}
    	  {% for textcollection in site.textcollections %}
		  {% if listtextcollection contains textcollection.identifier %}<a href="{{site.baseurl}}{{textcollection.permalink}}">{{textcollection.title}}</a>
		  {% endif %}
		  {% endfor %}
		  {% unless forloop.last %}&nbsp;{% endunless %}
		  {% endfor %}</li>
{% endif %}
<li><a href="{{page.tei}}">Download TEI</a></li>
<li><a href="{{page.pdf}}">Download formatted PDF</a></li>
<li><a href="{{page.textauthor}}">View in Stanford Digital Repository</a></li>

		</ul>
	</div>
</aside>