---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_navigation %}
	
		<h1 class="site_title">{{ site.sitetitle }}
			<small>{{ site.slogan }}</small>
		</h1>

	{% include _navigation.html %}
	{% endunless %}

	{{ content }}

	{% unless page.skip_footer %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
