---
layout: default
format: page
---
<div class="row" id="main">
	{% if page.sidebar == "left" %}
	<div class="large-4 columns">
		{% include _text-metadata.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
		
	<div class="large-offset-2">
		<article itemscope itemtype="http://schema.org/Article">
			<header class="row">
				<div itemprop="name" class="large-8 columns">
					<h1 id="pagetitle" class="landing">{{ page.title }}</h1>
				</div>
				<div itemprop="image" class="large-4 columns">
					<img src="{{page.image}}" />
					<p class="caption">{{page.imagesource}}</p>
				</div>
			</header>

			<div itemprop="articleSection">
				{{ content }}
			</div>
			<div class="row">
	<div class="small-12 columns t30">
		<div class="row" id="listprojects">

			{% assign texts = site.texts | sort: 'title' %}
			{% for text in texts limit:1000 %}
			{% if text.languages contains page.tag %}
				<div id="text_{{ text.identifier }}" class="large-4 medium-6 columns projectbox">
					<a href="/{{ text.permalink }}"><img src="{{ text.thumb }}" class="videothumbnail"></a>
					<a href="/{{ text.permalink }}"><h4>{{ text.engtitle | truncate:75 }}</h4></a>
					<p class="strong">
						{{ text.origtitle | truncate:80}}</p>
						<!--
					{% if project.teaser %}<p>{{ project.teaser | truncate: 80 }}</p>{% endif %}
					<p class="source_disciplines">{% if project.source == 'community' %}<img src="{{ 'assets/img/circle-cobalt.svg' | relative_url }}">{% else %}<img src="{{ 'assets/img/circle-brilliant-amber.svg' | relative_url }}">{% endif %}
					{% assign matcheddisciplines = site.emptyArray %}
					{% unless project.disciplines == empty%}
						{% for discipline in project.disciplines %}
							{% for controldiscipline in site.data.disciplines %}
								{% if controldiscipline.identifier == discipline %}
									{% assign matcheddisciplines = matcheddisciplines | push: controldiscipline.name %}
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endunless %}
					{% for discipline in matcheddisciplines %}
					<span>{{discipline}}</span>{% if forloop.last %}{% else %}, {% endif %}
					{% endfor %}</p>-->
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</div><!-- /.small-8 small-offset-2.columns -->
</div><!-- /.row -->


			
			
			
		</article>
	</div><!-- /.medium-8.columns -->
</div><!-- /.row -->
